<!-- views/applications/new.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <%- include('../partials/_head', { title: 'Add New App' })%>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="new-app-title">
      <h1>Add a New App</h1>
    </div>
    <div class="new-body">
      

      <form action="/users/<%= user._id %>/applications" method="POST" class="new-app-form">
          <label for="company">Company:</label>
          <input type="text" name="company" id="company" required />
        
          <label for="title">Title:</label>
          <input type="text" name="title" id="title" required />
        
          <label for="notes">Notes:</label>
          <textarea name="notes" id="notes"></textarea>
        
          <label for="postingLink">Posting Link:</label>
          <input type="text" name="postingLink" id="postingLink" />
        
          <label for="status">Status:</label>
          <select id="status" name="status">
            <option value="interested">Interested</option>
            <option value="applied">Applied</option>
            <option value="interviewing">Interviewing</option>
            <option value="rejected">Rejected</option>
            <option value="accepted">Accepted</option>
          </select>

          <button type="submit" class="new-app-button">Add Application</button>
      </form>
    </div>
  </body>
</html>
